body {
    height: 2342px;
    font-family: sans-serif;
}
body:after {
    content: '';
    display: block;
    background: url(../screenshot.png) top center no-repeat;
    width: 100%;
    height: 2342px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
}
body:hover:after {
    display: none;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    max-width: 960px;
    margin: 0 auto;
}
.top-bar {
    background: #242424;
    font-size: 0;
}
.top-bar-logo {
    padding: 7px 8px 6px 8px;
    display: inline-block;
    line-height: 32px;
    text-transform: uppercase;
    font-size: 28px;
    color: #57C5A0;
}
.right {
    text-align: right;
}
.top-bar-search:before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url('../img/search.png') no-repeat;
}
.top-bar-search {
    padding: 15px 23px 16px;
    display: inline-block;
}
.top-bar-login {
    box-sizing: border-box;
    display: inline-block;
    color: #7E7E7E;
    font-size: 10px;
    line-height: 16px;
    padding: 15px 19px 14px;
    margin-right: 12px;
    vertical-align: top;
    border-left: 2px solid #323232;
    border-right: 2px solid #323232;
}
.top-bar-login span {
    text-transform: uppercase;
}

.top-menu {
    font-size: 0;
    background: #FFF;
}
.top-menu-nav {
    padding: 0 10px;
    margin: 0;
}
.top-menu-nav li {
    display: inline-block;
    font-size: 16px;
}
.top-menu-nav a {
    display: inline-block;
    line-height: 22px;
    padding: 20px 22px 18px;
    color: #202020;
    border-left: 1px solid #F2F2F2;
}
.top-menu-nav li:last-child a {
    border-right: 1px solid #F2F2F2;
}
.top-menu-actions {
    font-size: 0;
    margin: 0;
    padding: 0 11px 0 0;
}
.top-menu-actions li {
    vertical-align: top;
    display: inline-block;
}
.top-menu-actions a {
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
    color: #FFF;
}
.top-menu-star:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('../img/star.png') no-repeat;
    margin-right: 4px;
    vertical-align: middle;
}
.top-menu-star {
    padding: 20px 25px 20px 19px;
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #F2F2F2;
}
.top-menu-card:before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 16px;
    background: url('../img/card.png') no-repeat;
    margin-right: 4px;
    vertical-align: middle;
}
.top-menu-card {
    padding: 20px 23px 20px 20px;
    border-right: 1px solid #F2F2F2;
}
.top-menu-actions li a span {
    line-height: 16px;
    display: inline-block;
    padding: 2px 2px;
    min-width: 16px;
    text-align: center;
    border-radius: 4px;
    vertical-align: middle;
}
.top-menu-star span {
    background: #ADADAD;
}
.top-menu-card span {
    background: #57C5A0;
}
.top-pane-slider-img {
    min-height: 466px;
    position: relative;
}
.top-pane-slider-img img {
    position: absolute;
    top: 0;
    right: -40px;
}
.top-pane-slider-text {
    display: inline-block;
    position: relative;
    /*z-index: 1;*/
}
.top-pane-slider-text {
    font-size: 0;
    padding: 70px 30px;
}
.top-pane-slider-price {
    display: inline-block;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
    margin-left: 10px;
    background: #57C5A0;
    padding: 27px 16px 27px 10px;
}
.top-pane-slider-title {
    max-width: 300px;
    display: block;
    line-height: 1;
    padding: 12px 10px 0 10px;
    font-size: 40px;
}
.top-pane-slider-desription {
    display: block;
    font-size: 18px;
    line-height: 1.4;
    max-width: 350px;
    padding: 9px 0px 0 10px;
}    
.top-pane-slider-actions {
    padding: 11px 10px;
    display: inline-block;
}
.top-pane-slider-actions a:before {
    content: '';
    display: inline-block;
    background-image: url('../img/actions.png');
}
.top-pane-slider-actions a {
    vertical-align: top;
    display: inline-block;
    margin-right: 2px;
}
.top-pane-slider-actions-re:before {
    width: 18px;
    height: 12px;
    background-position: 0 -3px;
}
.top-pane-slider-actions-re {
    padding: 15px 10px 13px 12px;
    background: #FFF;
}
.top-pane-slider-actions-st:before {
    width: 16px;
    height: 16px;
    background-position: -18px 0;
}
.top-pane-slider-actions-st {
    padding: 13px 10px 11px 13px;
    background: #FFF;
}
.top-pane-slider-actions-ar:before {
    width: 17px;
    height: 16px;
    background-position: -35px 0;
}
.top-pane-slider-actions-ar {
    padding: 13px 11px 11px 13px;
    background: #FFF;
}
.top-pane-slider-actions-ca:before {
    width: 17px;
    height: 16px;
    background-position: -52px 0;
}
.top-pane-slider-actions-ca {
    padding: 13px 10px 11px 13px;
    background: #FFF;
}
.top-pane-slider-menu {
    background: #2E2E2E;
}
.top-pane-slider-menu ul {
    font-size: 0;
    margin: 0;
    display: block;
    padding: 0;
}
.top-pane-slider-menu li {
    display: inline-block;
    width: 20%;
    text-align: center;
    color: #999999;
    font-size: 12px;
    font-weight: bold;
    padding-top: 24px;
    padding-bottom: 24px;

}
.top-pane-slider-menu span {
    display: block;
    font-size: 19px;
    padding-bottom: 2px;
}
.special {
    background: #242424;
}
.special-wrapper {
    min-height: 231px;
    position: relative;
    display: block;
    top: 20px;
    left: 20px;
}
.special-wrapper img {
    margin: 0 auto;
    padding-bottom: 10px;
    position: absolute;
    width: 30%;
}
.special-wrapper span {
    position: relative;
    top: 82px;
    left: 20%;
    width: 4%;
    font-size: 26px;
    text-transform: uppercase;
    background: #2E2925;
    color: #FFF;
    padding: 10px;
}
.catalog {
    background: #EBE7DE;
}