body {
    height: 2342px;
    font-family: sans-serif;
}
body:after {
    content: '';
    display: block;
    background: url(../screenshot.png) top center no-repeat;
    width: 100%;
    height: 2342px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
}
body:hover:after {
    display: none;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    max-width: 960px;
    margin: 0 auto;
}
.top-bar {
    background: #242424;
    font-size: 0;
}
.top-bar-logo {
    padding: 7px 8px 6px 8px;
    display: inline-block;
    line-height: 32px;
    text-transform: uppercase;
    font-size: 28px;
    color: #57C5A0;
}
.right {
    text-align: right;
}
.top-bar-search:before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url('../img/search.png') no-repeat;
}
.top-bar-search {
    padding: 15px 23px 16px;
    display: inline-block;
}
.top-bar-login {
    box-sizing: border-box;
    display: inline-block;
    color: #7E7E7E;
    font-size: 10px;
    line-height: 16px;
    padding: 15px 19px 14px;
    margin-right: 12px;
    vertical-align: top;
    border-left: 2px solid #323232;
    border-right: 2px solid #323232;
}
.top-bar-login span {
    text-transform: uppercase;
}

.top-menu {
    font-size: 0;
    background: #FFF;
}
.top-menu-nav {
    padding: 0 10px;
    margin: 0;
}
.top-menu-nav li {
    display: inline-block;
    font-size: 16px;
}
.top-menu-nav a {
    display: inline-block;
    line-height: 22px;
    padding: 20px 22px 18px;
    color: #202020;
    border-left: 1px solid #F2F2F2;
}
.top-menu-nav li:last-child a {
    border-right: 1px solid #F2F2F2;
}
.top-menu-actions {
    font-size: 0;
    margin: 0;
    padding: 0 11px 0 0;
}
.top-menu-actions li {
    vertical-align: top;
    display: inline-block;
}
.top-menu-actions a {
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
    color: #FFF;
}
.top-menu-star:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('../img/star.png') no-repeat;
    margin-right: 4px;
    vertical-align: middle;
}
.top-menu-star {
    padding: 20px 25px 20px 19px;
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #F2F2F2;
}
.top-menu-card:before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 16px;
    background: url('../img/card.png') no-repeat;
    margin-right: 4px;
    vertical-align: middle;
}
.top-menu-card {
    padding: 20px 23px 20px 20px;
    border-right: 1px solid #F2F2F2;
}
.top-menu-actions li a span {
    line-height: 16px;
    display: inline-block;
    padding: 2px 2px;
    min-width: 16px;
    text-align: center;
    border-radius: 4px;
    vertical-align: middle;
}
.top-menu-star span {
    background: #ADADAD;
}
.top-menu-card span {
    background: #57C5A0;
}
.top-pane-slider-img {
    min-height: 466px;
    position: relative;
}
.top-pane-slider-img img {
    position: absolute;
    top: 0;
    right: -40px;
}
.top-pane-slider-text {
    position: relative;
    z-index: 1;
}