.bottom-pane {
    background: #242424;
    .bottom-pane-item {
        font-size: 0;
        padding: 20px 20px 38px;
        .bottom-pane-title {
            padding: 31px 0 0 10px;
            font-size: 13px;
            text-transform: uppercase;
            color: #9B9B9B;
            font-weight: bold;
        }
        .bottom-pane-text {
            padding: 22px 12px;
            line-height: 15px;
            font-size: 11px;
            font-weight: bold;
            font-style: italic;
            color: #5E5E5E;
        }
        .bottom-pane-twit-text {
            padding: 22px 12px 18px;
            line-height: 15px;
            font-size: 11px;
            font-weight: bold;
            font-style: italic;
            color: #5E5E5E;
            a {
                color: #57C5A0;
            }
        }
        .bottom-pane-twit-date {
            padding: 0 20px;
            line-height: 0.1em;
            font-size: 11px;
            color: #5E5E5E;
        }
        a img {
            width: 90%;
            padding-left: 8px;
            margin: 20px 4px -10px;
        }
    }
    .bottom-pane-wrapper {
        border-top: 1px solid #141414;
        .bottom-pane-soc {
            padding-top: 38px;
            padding-bottom: 44px;
            font-size: 0;
            input {
                margin-left: 52px;
                width: 59%;
                display: inline-block;
                background: #2E2E2E;
                padding: 12px;
                font-size: 10px;
                font-style: italic;
                color: #FFF;
                border: none;
            }
            button {
                padding: 17px 17px 18px;
                vertical-align: top;
                display: inline-block;
                background: #7C7C7C url('../img/pointer.png') no-repeat 50%;
                border: none;
            }
        }
        .bottom-pane-social-item {
            display: inline-block;
            text-align: right;
            padding-right: 42px;
            a {
                vertical-align: top;
                display: inline-block;
                margin-right: 8px;
                &:before {
                    content: '';
                    display: inline-block;
                    background-image: url('../img/socialk.png');
                }
            }
            .bottom-pane-social-item-fb {
                padding: 6px 14px 8px;
                background: #2E2E2E;
                &:before {
                    width: 10px;
                    height: 20px;
                    background-position: 0 0;
                }
            }
            .bottom-pane-social-item-tw {
                padding: 9px 8px 8px;
                background: #2E2E2E;
                &:before {
                    width: 20px;
                    height: 17px;
                    background-position: -10px -1px;
                }
            }
            .bottom-pane-social-item-gp {
                padding: 9px 7px 8px;
                background: #2E2E2E;
                &:before {
                    width: 19px;
                    height: 17px;
                    background-position: -30px -1px;
                }
            }
            .bottom-pane-social-item-in {
                padding: 8px 10px 7px;
                background: #2E2E2E;
                &:before {
                    width: 18px;
                    height: 19px;
                    background-position: -51px -1px;
                }
            }
            .bottom-pane-social-item-hz {
                padding: 13px 8px 13px;
                background: #2E2E2E;
                &:before {
                    width: 20px;
                    height: 8px;
                    background-position: -70px -1px;
                }
            }
        }
    }
}