.bottom-pane {
    background: #242424;
    .bottom-pane-item {
        font-size: 0;
        padding: 20px;
        .bottom-pane-title {
            padding: 31px 0 0 30px;
            font-size: 13px;
            text-transform: uppercase;
            color: #9B9B9B;
            font-weight: bold;
        }
        .bottom-pane-text {
            padding: 22px 32px;
            line-height: 15px;
            font-size: 11px;
            font-weight: bold;
            font-style: italic;
            color: #5E5E5E;
        }
        .bottom-pane-item-twit {
            padding-top: 7px;
            line-height: 0.1em;
            font-size: 11px;
            font-weight: bold;
            font-style: italic;
            color: #5E5E5E;
        }
        .bottom-pane-date {
            padding-left: 30px;
            font-size: 11px;
            color: #5E5E5E;
            & a {
                color: #57C5A0;
            }
            .bottom-pane-img img {
            }
        }
    }
}
/*
 a 
border-bottom: 1px solid;*/