.bottom-pane {
    background: #242424;
    padding-bottom: 90px;
    .bottom-pane-item {
        font-size: 0;
        padding: 20px;
        .bottom-pane-title {
            padding: 31px 0 0 10px;
            font-size: 13px;
            text-transform: uppercase;
            color: #9B9B9B;
            font-weight: bold;
        }
        .bottom-pane-text {
            padding: 22px 12px;
            line-height: 15px;
            font-size: 11px;
            font-weight: bold;
            font-style: italic;
            color: #5E5E5E;
        }
        .bottom-pane-twit-text {
            padding: 22px 12px 18px;
            line-height: 15px;
            font-size: 11px;
            font-weight: bold;
            font-style: italic;
            color: #5E5E5E;
            a {
                color: #57C5A0;
            }
        }
        .bottom-pane-twit-date {
            padding: 0 20px;
            line-height: 0.1em;
            font-size: 11px;
            color: #5E5E5E;
        }
        img {
            width: 90%;
            padding-left: 8px;
            margin: 20px 4px -10px;
        }
    }
}