.catalog {
    background-color: #EFECE7;
    .catalog-head {
        font-size: 0;
        padding: 10px 8px;
        .catalog-head-title {
            display: inline-block;
            line-height: 28px;
            font-size: 24px;
            color: #242424;
        }
        .catalog-head-actions {
            float: right;
            a {
                display: inline-block;
                font-size: 14px;
                font-weight: bold;
                padding: 6px 22px;
                color: #BCB5A7;
                border: 1px solid #BCB5A7;
            }
        }
    }
    .catalog-list {
        padding-top: 18px;
        padding-bottom: 28px;
        .catalog-item {
            height: 270px;
            position: relative;
            background: #FFF;
            margin: 0 12px;
            img {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 168px;
                max-height: 100%;
            }
            .catalog-item-sale ,.catalog-item-stock {
                display: inline-block;
                font-size: 12px;
                font-weight: bold;
                text-transform: uppercase;
                position: absolute;
                top: 0;
                right: 10px;
                background: #242424;
                color: #FFF;
            }
            .catalog-item-stock {
                background: #F27E4B;
                line-height: 14px;
                width: 48px;
                padding: 20px 10px;
            }
            .catalog-item-sale {
                padding: 30px 5px 25px;
            }
            .catalog-item-bottom {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                & > * {
                    display: inline-block;
                }
                .catalog-item-price {
                    font-size: 13px;
                    font-weight: bold;
                    color: #FFF;
                    display: inline-block;
                    position: relative;
                    bottom: 0;
                    left: 10px;
                    background: #57C5A0;
                    padding: 28px 10px 24px;
                }
                .catalog-item-name {
                    font-size: 16px;
                    font-weight: bold;
                    position: relative;
                    bottom: -8px;
                    left: 18px;
                }
                .catalog-item-actions {
                    display: inline-block;
                    a {
                        vertical-align: top;
                        display: inline-block;
                        margin-right: 2px;
                        &:before {
                            content: '';
                            display: inline-block;
                            background-image: url('../img/actions.png');
                        }
                        .catalog-item-actions-re {
                            padding: 15px 10px 13px 12px;
                            background: #FFF;
                            &:before {
                                width: 18px;
                                height: 12px;
                                background-position: 0 -3px;
                            }
                        }
                        .catalog-item-actions-st {
                            padding: 13px 10px 11px 13px;
                            background: #FFF;
                            &:before {
                                width: 16px;
                                height: 16px;
                                background-position: -18px 0;
                            }
                        }
                        .catalog-item-actions-ar {
                            padding: 13px 11px 11px 13px;
                            background: #FFF;
                            &:before {
                                width: 17px;
                                height: 16px;
                                background-position: -35px 0;
                            }
                        }
                        .catalog-item-actions-ca {
                            padding: 13px 10px 11px 13px;
                            background: #FFF;
                            &:before {
                                width: 17px;
                                height: 16px;
                                background-position: -52px 0;
                            }
                        }
                    }/*a*/
                }/*.catalog-item-actions*/
            }/*.catalog-item-bottom*/
        }/*.catalog-item*/
    }/*.catalog-list*/
}