.catalog {
	background-color: #EFECE7;
	font-size: 0;
	.catalog-head {
		display: inline-block;
		font-size: 0;
		vertical-align: middle;
		.catalog-head-title {
			padding: 13px 8px;
			display: inline-block;
			line-height: 28px;
			font-size: 24px;
			color: #242424;
			}
			.catalog-head-actions {
				text-align: right;
	            a {
	            	display: inline-block;
	            	font-size: 14px;
	            	font-weight: bold;
	            	vertical-align: middle;
	            }
	        }
		}
	}
}