.info {
    font-size: 0;
    background: #EFECE7;
    padding-top: 35px;
    padding-bottom: 66px;
    .info-item {
        background: red;
        margin: 10px;
        padding-bottom: 20px;
        .info-title {
            padding: 31px 14px 0;
            display: inline-block;
            font-size: 13px;
            text-transform: uppercase;
            font-weight: bold;
            color: #242424;
        }
        .info-text {
            font-size: 11px;
            color: #FFF;
            padding: 14px 16px 26px;
            line-height: 16px;
        }
        .info-text-1 {
            font-size: 11px;
            color: #FFF;
            padding: 14px 16px 8px;
            line-height: 16px;
        }
        .info-author {
            font-size: 10px;
            font-style: italic;
            padding: 0 20px 7px;
            color: #FFF;
        }
    }
}

/*#E6E3DE*/