body {
    margin: 0;
    height: 2342px;
    background: #ebe7df url("img/girl.png") no-repeat -68px 0;
}
body:after {
    content: '';
    display: block;
    background: url(screenshot.png) top center no-repeat;
    width: 100%;
    height: 2342px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
}
body:hover:after {
    display: none;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
}
.top-bar {
    background: #1d1a1a;
    line-height: 2.3;
}
.top-bar-logo {
    padding: 9px 153px 0 0;
    text-align: center;
}
.top-bar-search {
    box-sizing: border-box;
    padding: 6px 10px 0 0;
    text-align: right;
}
.top-bar-login {
    padding: 4px 0 0 36px;
}
@media (max-width: 750px) {
    .top-bar-logo {
        padding-left: 30px;
    }
    .top-bar-search {
        padding-right: 20px;
    }
    .top-bar-login {
        padding-left: 0px;
    }
}