body {
    margin: 0;
    height: 2342px;
    background: #ebe7df url("img/girl.png") no-repeat -68px 0;
}
body:after {
    content: '';
    display: block;
    background: url(screenshot.png) top center no-repeat;
    width: 100%;
    height: 2342px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
}
body:hover:after {
    display: none;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.top-bar {
    background: #1d1a1a;
}
.top-bar-name ,.top-bar-wrapper {
    display: inline-block;
}
.top-bar-name {
    line-height: 15px;
    padding: 12px 129px;
    float: left;
}
.top-bar-wrapper {
    display: inline-block;
    float: right;
    line-height: 15px;
    padding-right: 136px
}
.top-bar-wrapper img {
    padding: 14px 20px;
}
.container:after {
  content: '';
  display: block;
  clear: both;
}
.top-pane {
    background: #fff;
}
.top-pane-wrapper ,.top-pane-wrapper li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}
.top-pane-wrapper {
    display: inline-block;
    padding: 22px 153px;
    line-height: 0.7;
}
.top-pane-wrapper img {
    padding-right: 40px;
}
@media (max-width: 700px) {
    .top-bar-name {
        display: block;
        text-align: center;
        float: none;
    }
    .top-bar-wrapper {
        display: block;
        float: none;
        text-align: center;
        padding: 0;
    }
    .top-pane {
        text-align: center;
    }
}